.App {
  /* font-size: x-large; */
  margin-left: 50px;
}

.HomePage {
  /* font-size: x-large; */
  display: flex;
  justify-content: center;
  color: #08aeea;
}

.title {
  display: flex;
  justify-content: flex-start;
  color: #000000;
}

.input {
  display: flex;
  justify-content: center;
  border-style: none;
  /* text-decoration: underline; */
}

.other-previews {
  border-style: none;
  width: 120px;
  height: 120px;
}
