.App {
  /* font-size: x-large; */
  margin-left: 50px;
}

.HomePage {
  /* font-size: x-large; */
  display: flex;
  justify-content: center;
  color: #08aeea;
}

.title {
  display: flex;
  justify-content: flex-start;
  color: #000000;
  padding-left: 180px;
}

.input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  border-style: none;
  text-align: center;
  width: 80%;
  /* text-decoration: underline; */
}

.other-previews {
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  width: 430px;
  height: 120px;
  /* border: #000000 solid; */
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.content-list .content-box {
  margin-bottom: 30px;
}

.content-box {
  display: flex;
  position: relative;
  background-color: var(--highlight-color);
  padding: 20px 50px 20px 20px;
  /* border-radius: 15px; */
  width: 90%;
  /* border: #000000 solid; */
}

.content-box .content-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .content-detail {
  display: flex;
}
/* .content-actions */

.content .content-preview {
  margin-right: 40px;
}

.content-detail {
  margin-left: 40px;
}

.content-title {
  font-size: 24px;
  font-weight: 700;
}

img.rounded-corners {
  border-radius: 30px;
}

img.rounded-corners2 {
  border-radius: 20%;
}
